<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
	<classPathEntry
		location="C:\Users\ntgpt\.m2\repository\org\postgresql\postgresql\42.2.8\postgresql-42.2.8.jar" />
	<context id="context" targetRuntime="MyBatis3Simple">
		<commentGenerator>
			<property name="suppressAllComments" value="false" />
			<property name="suppressDate" value="true" />
		</commentGenerator>
		<jdbcConnection userId="giapnt" password="giapnt#94"
			driverClass="org.postgresql.Driver"
			connectionURL="jdbc:postgresql://localhost:5432/shopping-cart" />
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>
		<javaModelGenerator
			targetPackage="com.giapnt.shopping.cart.model"
			targetProject="shopping-cart-services">
		</javaModelGenerator>
		<table schema="core_data" tableName="products"
			enableCountByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" enableUpdateByExample="false" />
		<table schema="core_data" tableName="categories"
			enableCountByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" enableUpdateByExample="false" />
		<table schema="core_data" tableName="orders"
			enableCountByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" enableUpdateByExample="false" />
		<table schema="core_data" tableName="payments"
			enableCountByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" enableUpdateByExample="false" />
		<table schema="core_data" tableName="users_roles"
			enableCountByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" enableUpdateByExample="false" />
		<table schema="core_data" tableName="roles"
			enableCountByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" enableUpdateByExample="false" />
		<table schema="core_data" tableName="shippers"
			enableCountByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" enableUpdateByExample="false" />
		<table schema="core_data" tableName="suppliers"
			enableCountByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" enableUpdateByExample="false" />
		<table schema="core_data" tableName="users"
			enableCountByExample="false" enableDeleteByExample="false"
			enableSelectByExample="false" enableUpdateByExample="false" />
	</context>
</generatorConfiguration>